@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">IntelliStocks - ASP.NET</h1>
    <img src="/intelliLogo3.png" alt="Alternate Text" />
    <p>Learn about <a href="https://github.com/IgorLuiz777/IntelliStocks.NET">Repositório GitHub</a>.</p>
</div>
